video-service-web/src/wsdl/localhost_8080/video-service-soap/VideoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.videoservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.videoservice/" name="VideoService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.videoservice/" schemaLocation="http://localhost:8080/video-service-soap/VideoService?xsd=1"/>
</xsd:schema>
</types>
<message name="getVideoByID">
<part name="parameters" element="tns:getVideoByID"/>
</message>
<message name="getVideoByIDResponse">
<part name="parameters" element="tns:getVideoByIDResponse"/>
</message>
<message name="addVideo">
<part name="parameters" element="tns:addVideo"/>
</message>
<message name="editVideo">
<part name="parameters" element="tns:editVideo"/>
</message>
<message name="removeVideoByID">
<part name="parameters" element="tns:removeVideoByID"/>
</message>
<message name="getVideos">
<part name="parameters" element="tns:getVideos"/>
</message>
<message name="getVideosResponse">
<part name="parameters" element="tns:getVideosResponse"/>
</message>
<portType name="VideoWebService">
<operation name="getVideoByID">
<input wsam:Action="http://soap.videoservice/VideoWebService/getVideoByIDRequest" message="tns:getVideoByID"/>
<output wsam:Action="http://soap.videoservice/VideoWebService/getVideoByIDResponse" message="tns:getVideoByIDResponse"/>
</operation>
<operation name="addVideo">
<input wsam:Action="http://soap.videoservice/VideoWebService/addVideo" message="tns:addVideo"/>
</operation>
<operation name="editVideo">
<input wsam:Action="http://soap.videoservice/VideoWebService/editVideo" message="tns:editVideo"/>
</operation>
<operation name="removeVideoByID">
<input wsam:Action="http://soap.videoservice/VideoWebService/removeVideoByID" message="tns:removeVideoByID"/>
</operation>
<operation name="getVideos">
<input wsam:Action="http://soap.videoservice/VideoWebService/getVideosRequest" message="tns:getVideos"/>
<output wsam:Action="http://soap.videoservice/VideoWebService/getVideosResponse" message="tns:getVideosResponse"/>
</operation>
</portType>
<binding name="VideoWebServicePortBinding" type="tns:VideoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVideoByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editVideo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeVideoByID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getVideos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VideoService">
<port name="VideoWebServicePort" binding="tns:VideoWebServicePortBinding">
<soap:address location="http://localhost:8080/video-service-soap/VideoService"/>
</port>
</service>
</definitions>