video-service-web/src/wsdl/localhost_8080/video-service-soap/VideoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://soap.videoservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soap.videoservice/">

<xs:element name="addVideo" type="tns:addVideo"/>

<xs:element name="editVideo" type="tns:editVideo"/>

<xs:element name="getVideoByID" type="tns:getVideoByID"/>

<xs:element name="getVideoByIDResponse" type="tns:getVideoByIDResponse"/>

<xs:element name="getVideos" type="tns:getVideos"/>

<xs:element name="getVideosResponse" type="tns:getVideosResponse"/>

<xs:element name="removeVideoByID" type="tns:removeVideoByID"/>

<xs:complexType name="getVideos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVideosResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="file" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
<xs:element name="videoBase64String" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editVideo">
<xs:sequence>
<xs:element name="video" type="tns:video" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeVideoByID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideoByID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVideoByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addVideo">
<xs:sequence>
<xs:element name="video" type="tns:video" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>